*.iml
.gradle
.DS_Store
.externalNativeBuild
CSIDataCollector/local.properties
CSIDataCollector/.idea/caches/build_file_checksums.ser
CSIDataCollector/.idea/libraries
CSIDataCollector/.idea/modules.xml
CSIDataCollector/.idea/workspace.xml
CSIDataCollector/build
CSIDataCollector/captures
CSIDataCollector/_gitignore
CSIDataCollector/app/build
CSIDataCollector/app/_gitignore
CSIDataCollector6P/local.properties
CSIDataCollector6P/.idea/caches/build_file_checksums.ser
CSIDataCollector6P/.idea/libraries
CSIDataCollector6P/.idea/modules.xml
CSIDataCollector6P/.idea/workspace.xml
CSIDataCollector6P/build
CSIDataCollector6P/captures
CSIDataCollector6P/_gitignore
CSIDataCollector6P/app/build
CSIDataCollector6P/app/_gitignore
